<!DOCTYPE html>
<html>

<head>
    <title>Filtrar Pedidos por Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Tag Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Tag Css-->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Link para as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Poppins:wght@100&family=Raleway:ital,wght@0,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body id="pesquisa">
    <div id="texto" class="d-flex justify-content-center">
        <img src="../novasImg/logo pizzaria 1.png" class="img-logo" width="250px" height="250px" alt="">
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-sm-12 text-center area-form">
                <h1 class="mb-5  fontePesquisa">Filtrar Pedidos por Data</h1>

                <form method="POST" class="d-flex justify-content-center align-items-center">
                    <label for="data_selecionada" class="mr-2 texto-etiqueta">
                        <h3 class="tamanho-fonte-etiqueta mt-3 ">Selecione a data : </h3>
                    </label>
                    <input type="date" name="data_selecionada" class="m-1  barra-pesquisa-data " required>
                    <button type="submit" class=" botao-pesquisa  "><i> <img src="../novasImg/lupa.png" width="10px"
                                height="10px" alt=""></i></button>
                </form>
                <div class="d-flex justify-content-center mt-5">
                    <a href="index.html" class="btn  m-3 editar-botoes">
                        <h6 class="pt-1"> Página Inicial</h4>
                    </a></br>
                    <a href="novo_pedido.html" class="btn  m-3 editar-botoes">
                        <h6 class="pt-1">Novo pedido</h6>
                    </a>
                </div>

            </div>

        </div>
    </div>


    </div>

</body>

</html>