<!DOCTYPE html>
<html>
  <head>
    <title>Bem vindo a Pizzaria do Beto's</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Tag Bootstrap-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Tag Css-->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- Link para as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Poppins:wght@100&family=Raleway:ital,wght@0,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="index">
    <div class="container">
      <div class="row">
        <div id="texto" class="col-md-12 text-center col-sm-12">
          <div class="">
            <img
              src="../novasImg/logo pizzaria 1.png"
              width="250px"
              height="250px"
              alt=""
            />
          </div>
          <h1 class="nome-apresentação">Bem vindo a Pizzaria do Beto's</h1>
          <p class="text-light formatação-texto-apresentacao">
            Na pizzaria Bettos, não estamos apenas servindo pizzas, estamos
            criando momentos memoráveis. Cada fatia é uma obra-prima,
            cuidadosamente elaborada para despertar os sentidos e satisfazer os
            paladares mais exigentes.
          </p>
          <button class="botao-novo-pedido">
            <a href="novo_pedido.html" class="botao-novo-pedido btn"
              >Fazer Pedido</a
            >
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
