<!DOCTYPE html>
<html>

<head>
    <title>Pedidos por Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Tag Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Tag Css-->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Link para as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Poppins:wght@100&family=Raleway:ital,wght@0,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body id="sla">
    <div class="center container text-center">
        <div id="texto" class="sub-logo">
            <img class="logo" src="../novasImg/logo pizzaria 1.png" width="250px" height="250px" alt="">
        </div>
        <div>
            <h1 class="nome-titulo text-center">Pedidos realizados em {{ data_selecionada }}</h1>
        </div>
        <div class="texto-apresentacao">
            <div class="container">
                <ul>
                    {% for pedido in pedidos %}
                    <li>{{ pedido[1] }} - {{ pedido[2] }} - {{ pedido[3] }} -
                        {{ pedido[4] }} - {{ pedido[5] }} - {{ pedido[6] }} - {{ pedido[7] }} - {{ pedido[9] }}</li>
                    </br>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <a href="index.html" class="btn botao-pedido"> Voltar para a Página Inicial</a></br>
                <a href="novo_pedido.html" class="btn botao-pedido  ">Cadastrar novo pedido</a></br>
                <a href="filtro_data.html" class="btn botao-pedido">Filtrar pedido por data</a></br>
            </div>
        </div>

    </div>



</body>

</html>